In [1]:
output = []  # Create an empty list to store the output

for x in range(1, 101):
    if x % 3 == 0 and x % 5 == 0:
        output.append("helloworld")
    elif x % 3 == 0:
        output.append("hello")
    elif x % 5 == 0:
        output.append("world")
    else:
        output.append(x)
# Convert the list to a tuple
output_tuple = tuple(output)

# Perform the substitutions in the tuple
output_tuple = tuple(["Python" if x == "hello" else "Works" if x == "world" else x for x in output_tuple])

# Print the modified tuple
for output in output_tuple:
    print(output, end=', ')

1, 2, Python, 4, Works, Python, 7, 8, Python, Works, 11, Python, 13, 14, helloworld, 16, 17, Python, 19, Works, Python, 22, 23, Python, Works, 26, Python, 28, 29, helloworld, 31, 32, Python, 34, Works, Python, 37, 38, Python, Works, 41, Python, 43, 44, helloworld, 46, 47, Python, 49, Works, Python, 52, 53, Python, Works, 56, Python, 58, 59, helloworld, 61, 62, Python, 64, Works, Python, 67, 68, Python, Works, 71, Python, 73, 74, helloworld, 76, 77, Python, 79, Works, Python, 82, 83, Python, Works, 86, Python, 88, 89, helloworld, 91, 92, Python, 94, Works, Python, 97, 98, Python, Works,

In [2]:
#Write a program that swaps the values of two input variables
x = input("enter the value of x: ")
y = input ("enter the value of y: ")
#swapp the values
x, y = y, x
# Print the swapped values
print("Swapped values: x =", x, "y =", y)

enter the value of x:  7
enter the value of y:  9

Swapped values: x = 9 y = 7

In [4]:
#Write a program that calculates and prints the euclidean distance
import math

# u coordinates x1 and y1
x1 = float (input ("Enter the value of x1: "))
y1 = float (input("Enter the value of y1: "))
# v coordinates x2 and y2
x2 = float(input("Enter the value of x2: "))
y2 = float (input("Enter the value of y2: "))


# Calculate the squared differences in coordinates
dx = x2 - x1
dy = y2 - y1

# Calculate the squared Euclidean distance
squared_distance = dx ** 2 + dy ** 2

# Calculate the Euclidean distance by taking the square root
distance = math.sqrt(squared_distance)

# Print the result
print("The Euclidean distance between" , distance)

Enter the value of x1:  3
Enter the value of y1:  0
Enter the value of x2:  0
Enter the value of y2:  4

The Euclidean distance between 5.0

In [4]:
#Write a program that calculates and prints the euclidean distance
import math

# u coordinates x1 and y1
x1 = float (input ("Enter the value of x1: "))
y1 = float (input("Enter the value of y1: "))
# v coordinates x2 and y2
x2 = float(input("Enter the value of x2: "))
y2 = float (input("Enter the value of y2: "))


# Calculate the squared differences in coordinates
dx = x2 - x1
dy = y2 - y1

# Calculate the squared Euclidean distance
squared_distance = dx ** 2 + dy ** 2

# Calculate the Euclidean distance by taking the square root
distance = math.sqrt(squared_distance)

# Print the result
print("The Euclidean distance between" , distance)

Enter the value of x1:  3
Enter the value of y1:  0
Enter the value of x2:  0
Enter the value of y2:  4

The Euclidean distance between 5.0

In [1]:
#Write a program that calculates the number of times each character occurs in a given string.
#Ignore differences in capitalization

input_string = "But for multiples of three print Hello instead of the number and for the multiples of five print World"

# Convert the string to lowercase to ignore case differences
input_string = input_string.lower()

# Create an empty dictionary to store character counts
char_count = {}


for char in input_string:
    # Check if the character is a letter
    if char.isalpha():
        # If the character is in the dictionary, increment its count, otherwise initialize it with 1
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1

# Print the character counts
for char, count in char_count.items():
    print(f"'{char}': {count} times")

'b': 2 times
'u': 4 times
't': 9 times
'f': 6 times
'o': 7 times
'r': 7 times
'm': 3 times
'l': 7 times
'i': 6 times
'p': 4 times
'e': 10 times
's': 3 times
'h': 4 times
'n': 5 times
'a': 2 times
'd': 3 times
'v': 1 times
'w': 1 times

In [2]:
#Write a program that determines and counts the unique numbers (numbers with only one occurrence) in the list:
i_list =[36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
#create empty dictionary for storing count values
unique_numbers = {}
for number in i_list:
    unique_numbers[number] = unique_numbers.get(number, 0) + 1

for number, count in unique_numbers.items():
    if count == 1:
        print(number, end=', ')

58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53,

In [17]:
#Write a program that reads from command line two variables, that can be either int, float, or str

var1 = input("Enter the first variable: ")
var2 = input("Enter the second variable: ")

try:
    var1 = int(var1)
except ValueError:
    try:
        var1 = float(var1)
    except ValueError:
        # If it's not a float, it must be a string
        var1 = var1

try:
    var2 = int(var2)
except ValueError:
    try:
        var2 = float(var2)
    except ValueError:
        # If it's not a float, it must be a string
        var2 = var2

addition = var2 + var1
print("Addition:", addition)

Enter the first variable:  7
Enter the second variable:  9.0

Addition: 16.0

In [7]:
#Create a list of the cubes of x for x in [0, 10] using
cubes_numbers = [x**3 for x in range(11)]
print(cubes_numbers)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [2]:
#Write, using the list comprehension, a single-line expression that gets the same result as the code in the cell below.
a = [(i, j) for i in range(3) for j in range(4)]
print(a)

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

A Pythagorean triple is an integer solution to the Pythagorean theorem  𝑎2+𝑏2=𝑐2
 . The first Pythagorean triple is (3, 4, 5).

Find and put in a tuple all unique Pythagorean triples for the positive integers  𝑎,  𝑏 and  𝑐 with  𝑐<100

In [46]:
# Using a list comprehension to generate unique Pythagorean triples
pythagorean_triples = [(a, b, int((a**2 + b**2)**0.5)) 
                       for a in range(1, 100)
                       for b in range(a, 100) 
                
                       if ((a**2 + b**2)**0.5).is_integer() and (a**2 + b**2)**0.5 < 100]

# Sort the list for readability
pythagorean_triples.sort()

# Convert to a tuple
unique_triples_tuple = tuple(pythagorean_triples)

# Print the unique Pythagorean triples
for triple in unique_triples_tuple:
    print(triple)

(3, 4, 5)
(5, 12, 13)
(6, 8, 10)
(7, 24, 25)
(8, 15, 17)
(9, 12, 15)
(9, 40, 41)
(10, 24, 26)
(11, 60, 61)
(12, 16, 20)
(12, 35, 37)
(13, 84, 85)
(14, 48, 50)
(15, 20, 25)
(15, 36, 39)
(16, 30, 34)
(16, 63, 65)
(18, 24, 30)
(18, 80, 82)
(20, 21, 29)
(20, 48, 52)
(21, 28, 35)
(21, 72, 75)
(24, 32, 40)
(24, 45, 51)
(24, 70, 74)
(25, 60, 65)
(27, 36, 45)
(28, 45, 53)
(30, 40, 50)
(30, 72, 78)
(32, 60, 68)
(33, 44, 55)
(33, 56, 65)
(35, 84, 91)
(36, 48, 60)
(36, 77, 85)
(39, 52, 65)
(39, 80, 89)
(40, 42, 58)
(40, 75, 85)
(42, 56, 70)
(45, 60, 75)
(48, 55, 73)
(48, 64, 80)
(51, 68, 85)
(54, 72, 90)
(57, 76, 95)
(60, 63, 87)
(65, 72, 97)

In [18]:
#Write a program that takes an N-dimensional vector,e.g. a variable-length tuple of numbers, 
#and normalizes it to one (in such a way that the squared sum of all the entries is equal to 1)

import math

# Input: N-dimensional vector as a variable-length tuple
input_vector = (3, 4, 5)

# Calculate the squared sum of entries
squared_sum = sum(x ** 2 for x in input_vector)

# Check if the squared sum is already 0
if squared_sum == 0:
    normalized_vector = input_vector  # Already normalized or all entries are 0
else:
    # Calculate the magnitude
    magnitude = math.sqrt(squared_sum)

    # Normalize the vector by dividing each component by the magnitude
    normalized_vector = tuple(x / magnitude for x in input_vector)

# Print the input vector and the normalized vector
print("Input Vector:", input_vector)
print("Normalized Vector:", normalized_vector)

Input Vector: (3, 4, 5)
Normalized Vector: (0.4242640687119285, 0.565685424949238, 0.7071067811865475)

The Fibonacci sequence

Calculate the first 20 numbers of the Fibonacci sequence using only for or while loops.

In [2]:
#Calculate the first 20 numbers of the Fibonacci sequence using only for or while loops.

Calculate the first 20 numbers of the Fibonacci sequence using only for or while loops
fib_sequence = [0, 1]
for x in range(2, 20):
    next_number = fib_sequence[x - 1] + fib_sequence[x - 2]
    fib_sequence.append(next_number)

# Print the result
print(fib_sequence)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]